body {
	margin: 0;
	padding: 0;
	overflow-x: hidden;
}

img {
	padding: 0;
	margin: 0;
}

.content {
	padding: 0;
	margin: auto;
}

.content img {
	width: 100%!important;
	height: auto;
}

/* desktop */
@media (min-width: 1440px) {
	.content {
		background: url('img/desktop.jpg');
		background-size: 1440px 3000px;
		background-repeat: no-repeat;
		height: 3000px;
		width: 1440px;
	}
}

/* tablet */
@media (max-width: 1439px) {
	.content {
		background: url('img/tablet.jpg');
		background-size: 980px 3000px;
		background-repeat: no-repeat;
		height: 3000px;
		width: 980px;
	}
}

/* phone */
@media (max-width: 980px) {
	.content {
		background: url('img/phone.jpg');
		background-size: 320px 3000px;
		background-repeat: no-repeat;
		height: 3000px;
		width: 320px;
	}
}

/* Fadein animation */

.animated {
	-webkit-animation-fill-mode:both;
	-moz-animation-fill-mode:both;
	-ms-animation-fill-mode:both;
	-o-animation-fill-mode:both;
	animation-fill-mode:both;
	-webkit-animation-duration:2s;
	-moz-animation-duration:2s;
	-ms-animation-duration:2s;
	-o-animation-duration:2s;
	animation-duration:2s;
}

@-webkit-keyframes fadeIn {
	0% {
		opacity: 0;
	}	
	100% {
		opacity: 1;
	}
}

@-moz-keyframes fadeIn {
	0% {
		opacity: 0;
	}	
	100% {
		opacity: 1;
	}
}

@-o-keyframes fadeIn {
	0% {
		opacity: 0;
	}	
	100% {
		opacity: 1;
	}
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}	
	100% {
		opacity: 1;
	}
}

.fadeIn {
	-webkit-animation-name: fadeIn;
	-moz-animation-name: fadeIn;
	-o-animation-name: fadeIn;
	animation-name: fadeIn;
}